<h1>Startcraft 2 rank</h1>

<section id="players">
  <table>
    <tr>
      <th colspan="2">Jogador</th>
      <th>Vitórias</th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td class="avatar"><span class="portrait" style="<%= player.avatar %>"></span></td>
        <td><%= link_to player.name, player.profile_path %></td>
        <td class="score"><%= player.rank_wins %></td>
      </tr>
    <% end %>
  </table>
</section>

<section id="tools">
  <div>
    <%= link_to 'Atualizar dados', rank_update_path, method: :put %>
    <% if @last_update.present? %>
      <span>Última atualização foi <%= @last_update.strftime "%d/%m/%y %H:%M" %></span>
    <% end %>
  </div>
</section>

<section id="comments">
  <div id="disqus_thread"></div>
</section>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'sc2rank'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = 'rank_month_' + new Date().getMonth();
    var disqus_url = 'http://sc2rank.heroku.com/';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

