<h1>Startcraft 2 rank</h1>

<table>
  <tr>
    <th>Jogador</th>
    <th>Vitórias</th>
    <th></th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player.profile_path %></td>
      <td><%= player.rank_wins %></td>
      <td><span class="portrait" style="<%= player.avatar %>"></span></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to 'Atualizar dados', rank_update_path, method: :put %>
  <% if @last_update.present? %>
    <span>Última atualização foi <%= @last_update.strftime "%d/%m/%y %H:%M" %></span>
  <% end %>
</div>
