<h1>Startcraft 2 rank</h1>

<table>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.rank_wins %></td>
      <td><span class="portrait" style="<%= player.avatar %>"></span></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to 'Atualizar dados', rank_update_path, method: :put %>
  <% if @last_update.present? %>
    <span>Última atualização foi <%= @last_update.strftime "%d/%m/%y %H:%M" %></span>
  <% end %>
</div>
